# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
pubspec.lock
*.jks

.claude
.dart_tool
/build
.flutter-plugins-dependencies

# FVM Version Cache
.fvm/